.landingPageTitle {
    font-size: 125px;
    text-align: center;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    
}

.landingPageSelection {
    display: flex;
    justify-content: center;
}
.landingPageButtons {
    width: 350px;
    height: 100px;
    background-color: none;
    border: 0px solid white;
    cursor: pointer;
    margin: 25px;
    margin-top: -80px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

